:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column; /* Ensure elements stack vertically */
}

p {
  font-weight: 380;
  font-size: 1em;
  
  margin-bottom: 1em;
  color: #807b48;
}

.p2{
  font-weight: 380;
  font-size: 0.9em;
  margin-top: 5em;
}

.diamond{
  font-weight: 380;
  font-size: 0.4em;
  margin-top: 40px;
  vertical-align: middle;
}

div {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; /* Center elements within the div */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #807b48;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 640;
  font-family: inherit;
  background-color: #240e2f;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  margin-bottom: 10px; 
  color:#cbc693;
  border-color: #aaa572;
  text-transform: uppercase;
  width: 12em;
}
button:hover {
  background-color: #aaa572;
  color: #151515;
}
button:focus,
button:focus-visible {
  outline: 4px auto #cbc693;
}

.button1{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 640;
  font-family: inherit;
  background-color: #cbc693;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px; /* Add spacing between buttons */
  color: #151515;
  
}

.button1:hover{
  border-color: #807b48;
}
.button1:focus,
.button1:focus-visible {
  outline: 4px auto #807b48;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title1{
  font-weight: 380;
  font-size: 1.5em;
  color:#807b48;
  text-transform: uppercase;
}

.title2{
  font-weight: 780;
  font-size: 3.5em;
  margin-top: -20px;
  color:#aaa572;
  text-transform: uppercase;
  letter-spacing: .15em;
}