/* Monitor */
@media (min-width: 601px) {
  html{
    font-size: 16px;
  }

  .container {
    display: block;
    min-width: 601px;
    max-width: 800px;
  }

  .leaderboard li{
    grid-template-columns: 3em 15em 8em 8em;
  }
}

/* Mobile */
@media (max-width: 600px) {
  html{
    font-size: 14px;
  }

  .container {
    display: block;
    min-width: 350px;
    max-width: 600px
  }
  .leaderboard li{
    grid-template-columns: 1em 7em 3em 6em;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

html{
  font-size: 16px;
}

h1{
  text-align: center;
}


ul{
  list-style: decimal;
}


p {
  font-weight: 380;
  font-size: 1.4em;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #807b48;
  text-align: center;
  padding-left: 1.4em;
  padding-right: 1.4em;
}


div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #807b48;
}

h2{
  text-transform: uppercase;
  font-size: 1.8em;
}

button {
  border-radius: .4em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 640;
  font-family: inherit;
  background-color: #240e2f;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  margin-bottom: 10px; 
  color:#cbc693;
  border-color: #aaa572;
  text-transform: uppercase;
  width: 12em;
  transition: transform .3s;
}
button:hover {
  background-color: #aaa572;
  color: #151515;
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto #cbc693;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #aaa572; }
}


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Figtree';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p2{
  font-weight: 380;
  font-size: 0.95em;
  margin-top: -1em;
}


.diamond {
  color: #aaa572;
}


.button1{
  border-radius: .4em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 640;
  font-family: inherit;
  background-color: #cbc693;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px; /* Add spacing between buttons */
  color: #151515;
  transition: transform .3s ease;
  
}

.button1:hover{
  border-color: #807b48;
  transform: scale(1.1);
}
.button1:focus,
.button1:focus-visible {
  outline: 4px auto #807b48;
}

.button-sqr {
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  padding: 0em 0em;
  border-radius: .2em;

}

.title1{
  font-weight: 380;
  font-size: 2em;
  color:#807b48;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}


.title2{
  font-weight: 780;
  font-size: 15em;
  line-height: 1.2em;
  color:#aaa572;
  text-transform: uppercase;
  letter-spacing: .12em;
  /* animation: fadeIn 2s ease-in-out forwards; */
}

.typewriter .title2{
  border-right: 0.1em solid #aaa572; /* Cursor effect */
  animation: blink-caret 1s step-end infinite;
}

.container{
  text-align: center;
  flex-direction: column;
}

.title2 span {
  font-size: 4.5em;
  margin-top: -1.4em;
  margin-bottom: 1em;
}

.container .title2{
  font-size: 4em;
  text-align: center;
}

.container .diamond{
  margin-left: -0.5em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
}

.hidden{
  display: none;
}


.no-cursor{
  border-right: none;
}


.panel{
  margin-inline: auto;
  background-color: #151515;
  color: #aaa572;
  border: 2px solid #aaa572;
}

.leaderboard .button-sqr {
  position: absolute;
  top: 2em;
  right: 2em;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #333;
}

.container{
  flex-direction: column;
}

.container h2{
  margin: 0;
  width: 100%;

  background-color: #aaa572;
  color: #1a1a1a;

  text-align: center;

}

.panel{
  margin-inline: auto;
  background-color: #151515;

  color: #aaa572;
  border: 2px solid #aaa572;

}


.leaderboard {
  position: absolute;
  max-height: 60%;
  overflow: auto;

  background-color: rgba(0, 0, 0, .6);
  border-radius: .2em;
  box-shadow: 0 4em 8em rgba(0, 0, 0, .8);
  border-width: 1em; 
  animation: fadeIn .1s ease-in backwards;
}

.leaderboard .header{
  font-weight: bold;
  background: #333;
  color: white;
  display: grid;
}

.leaderboard ul{
  display: contents;
  list-style-type: none;
}

.leaderboard li{
  display: grid;
  gap: 1em;
  padding: 1em;
  border-bottom: 1px solid #444;
  margin-bottom: 1em; 
  list-style-type: decimal-leading-zero;

}

.leaderboard span{
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.leaderboard span.rank {
  grid-column: 1;
}

.leaderboard span.username {
  grid-column: 2;
}

.leaderboard span.country {
  grid-column: 3;
}

.leaderboard span.points {
  grid-column: 4;
}

.leaderboard .btn-close{
  position: fixed;
  bottom: 2em;
}

#self-ranking {
  position: fixed; /* Fix the position */
  bottom: 10.3em;
  background-color: #aaa572;
  color: #151515;
  padding: 10px;
  padding-inline: 5em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  z-index: 1000; /* Ensure it stays on top of other elements */
  opacity: 1; /* Slight transparency */
  font-weight: 800;
}